In [1]:
import pandas as pd

## Load the csv file

In [2]:
stats = pd.read_csv("player_mvp_stats.csv")

In [3]:
stats

,Unnamed: 0,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,Pts Max,Share,Team,W,L,W/L%,GB,PS/G,PA/G,SRS
0,0,A.C. Green,PF,27,LAL,82,21,26.4,3.1,6.6,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
1,1,Byron Scott,SG,29,LAL,82,82,32.1,6.1,12.8,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
2,2,Elden Campbell,PF,22,LAL,52,0,7.3,1.1,2.4,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
3,3,Irving Thomas,PF,25,LAL,26,0,4.2,0.7,1.9,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
4,4,James Worthy,SF,29,LAL,78,74,38.6,9.2,18.7,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14692,14692,Spencer Hawes,PF,28,MIL,54,1,14.8,2.5,5.1,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
14693,14693,Steve Novak,PF,33,MIL,8,0,2.8,0.3,0.9,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
14694,14694,Terrence Jones,PF,25,MIL,54,12,23.5,4.3,9.1,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
14695,14695,Thon Maker,C,19,MIL,57,34,9.9,1.5,3.2,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
14696,14696,Tony Snell,SG,25,MIL,80,80,29.2,3.1,6.8,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45

## Perform cleaning

In [4]:
del stats["Unnamed: 0"]

In [5]:
stats

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,Pts Max,Share,Team,W,L,W/L%,GB,PS/G,PA/G,SRS
0,A.C. Green,PF,27,LAL,82,21,26.4,3.1,6.6,0.476,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
1,Byron Scott,SG,29,LAL,82,82,32.1,6.1,12.8,0.477,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
2,Elden Campbell,PF,22,LAL,52,0,7.3,1.1,2.4,0.455,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
3,Irving Thomas,PF,25,LAL,26,0,4.2,0.7,1.9,0.340,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
4,James Worthy,SF,29,LAL,78,74,38.6,9.2,18.7,0.492,...,0.0,0.0,Los Angeles Lakers,58,24,0.707,5.0,106.3,99.6,6.73
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14692,Spencer Hawes,PF,28,MIL,54,1,14.8,2.5,5.1,0.484,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
14693,Steve Novak,PF,33,MIL,8,0,2.8,0.3,0.9,0.286,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
14694,Terrence Jones,PF,25,MIL,54,12,23.5,4.3,9.1,0.470,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
14695,Thon Maker,C,19,MIL,57,34,9.9,1.5,3.2,0.459,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45
14696,Tony Snell,SG,25,MIL,80,80,29.2,3.1,6.8,0.455,...,0.0,0.0,Milwaukee Bucks,42,40,0.512,9.0,103.6,103.8,-0.45

In [6]:
pd.isnull(stats)

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,Pts Max,Share,Team,W,L,W/L%,GB,PS/G,PA/G,SRS
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14692,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
14693,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
14694,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
14695,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
14696,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [8]:
stats.isnull().sum()

Player        0
Pos           0
Age           0
Tm            0
G             0
GS            0
MP            0
FG            0
FGA           0
FG%          59
3P            0
3PA           0
3P%        2086
2P            0
2PA           0
2P%         100
eFG%         59
FT            0
FTA           0
FT%         521
ORB           0
DRB           0
TRB           0
AST           0
STL           0
BLK           0
TOV           0
PF            0
PTS           0
Year          0
Pts Won       0
Pts Max       0
Share         0
Team          0
W             0
L             0
W/L%          0
GB            0
PS/G          0
PA/G          0
SRS           0
dtype: int64

In [17]:
stats[stats["3P%"].isnull()][["Player","3PA"]]

                 Player  3PA
2        Elden Campbell  0.0
3         Irving Thomas  0.0
18           Jack Haley  0.0
20          Keith Owens  0.0
30      Benoit Benjamin  0.0
...                 ...  ...
14666    Evan Eschmeyer  0.0
14667  Gheorghe Mureșan  0.0
14669     Jim McIlvaine  0.0
14675  Mark Hendrickson  0.0
14676      Michael Cage  0.0

[2086 rows x 2 columns]

In [18]:
stats[stats["3P%"].isnull()][["Player","FTA"]]

                 Player  FTA
2        Elden Campbell  0.9
3         Irving Thomas  0.8
18           Jack Haley  0.6
20          Keith Owens  0.5
30      Benoit Benjamin  1.8
...                 ...  ...
14666    Evan Eschmeyer  1.0
14667  Gheorghe Mureșan  1.3
14669     Jim McIlvaine  0.8
14675  Mark Hendrickson  0.3
14676      Michael Cage  0.2

[2086 rows x 2 columns]

In [19]:
stats[stats["3P%"].isnull()][["Player","3P"]]

                 Player   3P
2        Elden Campbell  0.0
3         Irving Thomas  0.0
18           Jack Haley  0.0
20          Keith Owens  0.0
30      Benoit Benjamin  0.0
...                 ...  ...
14666    Evan Eschmeyer  0.0
14667  Gheorghe Mureșan  0.0
14669     Jim McIlvaine  0.0
14675  Mark Hendrickson  0.0
14676      Michael Cage  0.0

[2086 rows x 2 columns]

In [20]:
stats=stats.fillna(0)

In [22]:
stats.isnull().sum()

Player     0
Pos        0
Age        0
Tm         0
G          0
GS         0
MP         0
FG         0
FGA        0
FG%        0
3P         0
3PA        0
3P%        0
2P         0
2PA        0
2P%        0
eFG%       0
FT         0
FTA        0
FT%        0
ORB        0
DRB        0
TRB        0
AST        0
STL        0
BLK        0
TOV        0
PF         0
PTS        0
Year       0
Pts Won    0
Pts Max    0
Share      0
Team       0
W          0
L          0
W/L%       0
GB         0
PS/G       0
PA/G       0
SRS        0
dtype: int64

## Training a machine learning model

In [24]:
stats.columns

Index(['Player', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%', '3P',
       '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB',
       'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'Year',
       'Pts Won', 'Pts Max', 'Share', 'Team', 'W', 'L', 'W/L%', 'GB', 'PS/G',
       'PA/G', 'SRS'],
      dtype='object')

In [25]:
stats.dtypes

Player      object
Pos         object
Age          int64
Tm          object
G            int64
GS           int64
MP         float64
FG         float64
FGA        float64
FG%        float64
3P         float64
3PA        float64
3P%        float64
2P         float64
2PA        float64
2P%        float64
eFG%       float64
FT         float64
FTA        float64
FT%        float64
ORB        float64
DRB        float64
TRB        float64
AST        float64
STL        float64
BLK        float64
TOV        float64
PF         float64
PTS        float64
Year         int64
Pts Won    float64
Pts Max    float64
Share      float64
Team        object
W            int64
L            int64
W/L%       float64
GB         float64
PS/G       float64
PA/G       float64
SRS        float64
dtype: object

In [26]:
predictors = ["Age", "G", "GS", "MP", "FG", "FGA", 'FG%', '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%', 'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS', 'W', 'L', 'W/L%','GB', 'PS/G', 'PA/G', 'SRS']

In [29]:
train = stats[stats["Year"] < 2022]

In [30]:
test = stats[stats["Year"] == 2022]

In [32]:
# Ridge regression is a type of linear regression which shrinks the cofficients to avoid overfitting
from sklearn.linear_model import Ridge

In [33]:
reg = Ridge(alpha=0.1)

In [34]:
reg.fit(train[predictors],train["Share"])

Ridge(alpha=0.1)

In [35]:
predictions = reg.predict(test[predictors])

In [36]:
predictions

array([ 1.36375977e-02, -2.71538961e-02, -5.27206559e-03,  1.69343552e-02,
       -3.57648196e-03, -5.52633681e-03, -3.82069622e-03,  2.93377521e-02,
        3.96493473e-03,  3.30731997e-03, -7.14058825e-04,  1.07419816e-03,
        1.02319105e-02, -2.62974187e-02,  6.09138510e-03,  1.89410754e-01,
       -2.26698611e-02,  1.11024485e-03, -1.59858644e-02,  6.75401859e-03,
       -1.37105569e-02,  4.65170805e-03, -2.29696506e-03, -7.83555272e-03,
       -1.31780889e-02,  1.46238867e-03, -3.26062616e-03, -1.21644376e-02,
       -2.67391079e-03, -2.68892812e-02,  1.03964450e-01,  1.91151330e-01,
       -1.93808804e-02, -9.59009485e-04, -6.33726226e-03,  5.20110421e-03,
       -9.70138048e-03,  2.80557381e-02,  2.15653367e-02, -1.77760034e-02,
        8.52101874e-03, -1.59736982e-04,  1.74169854e-02,  1.91313380e-02,
        1.92422321e-02, -6.50895628e-03,  8.03897483e-02,  6.75957180e-02,
        9.29993347e-02, -2.80624352e-04, -1.52829784e-02,  3.15711335e-02,
       -2.18403366e-03,  2.65551939e-03,  4.13699392e-02,  7.72913546e-03,
        7.54939237e-03, -1.26914971e-03,  2.06391589e-02,  1.16086259e-02,
        1.08142411e-02, -1.45253561e-03, -4.94672688e-03,  2.44982361e-02,
        3.63465558e-03,  2.08603709e-02,  1.11933273e-03,  2.65013191e-02,
       -1.99859971e-02, -2.29942475e-02, -1.29001394e-03,  6.98661652e-02,
        9.53880488e-02, -1.48771109e-02, -4.47834534e-02, -1.36133685e-02,
       -2.37915454e-03,  3.45675074e-03,  1.08376464e-02,  1.25439282e-02,
        8.23689435e-03,  2.63994880e-03,  1.36229927e-02,  1.14297334e-02,
       -2.70095448e-02, -5.60007962e-03,  7.23940749e-03, -1.48874317e-02,
       -1.75959346e-02, -7.50175562e-03,  1.75454712e-02,  2.69056286e-03,
       -1.67084007e-02, -9.04383777e-04, -1.09423402e-02,  2.63760761e-03,
       -6.93051333e-03, -1.49817823e-02, -1.26772531e-01,  2.29688925e-02,
       -2.19827793e-02, -2.02937882e-02,  3.01120976e-03, -5.44543709e-02,
        8.90767005e-02, -1.68635869e-03, -1.95994128e-02, -5.36396492e-03,
       -3.13977116e-02, -6.51556244e-02,  2.29806926e-02, -6.14068032e-03,
        1.51226966e-02,  1.29069904e-02, -1.59417649e-02,  6.75103689e-02,
        7.75298915e-02, -7.83219399e-03,  2.68315015e-02,  2.61822529e-02,
       -4.58658463e-03,  9.16344198e-03,  3.32013600e-04, -2.25502027e-02,
       -6.15793838e-04, -1.82565983e-02, -1.14368693e-02,  1.10782295e-02,
       -5.15803571e-04,  1.97348376e-02,  2.39074148e-02, -1.50359767e-02,
       -2.69038422e-02, -2.63204573e-02, -2.71714921e-05,  1.99831693e-02,
       -4.26415986e-02,  6.42077158e-03, -2.03327953e-02, -2.78563206e-02,
       -1.82696253e-02, -9.68007916e-03, -9.67629549e-03, -2.83160758e-02,
        2.58571173e-02,  1.07941621e-02,  2.67065591e-02, -1.38326543e-02,
       -1.90028603e-02, -1.11720775e-02,  4.46174810e-02, -2.47670761e-02,
       -1.10823935e-02, -1.35463095e-02,  1.49798314e-02, -1.87214946e-02,
        3.07186840e-02,  4.59943914e-03,  1.12522475e-02,  6.14212963e-03,
       -1.11515273e-02, -3.49358151e-02,  3.01177701e-03,  3.77574703e-02,
        2.40014479e-02,  4.25186360e-03, -1.03348710e-02, -1.48471084e-03,
       -7.10698990e-03, -2.20872978e-02,  2.42671068e-02,  1.26381815e-02,
       -6.28137891e-03, -2.00783129e-02,  5.01207538e-03, -5.43030664e-03,
        1.05480572e-03,  1.39906677e-02, -3.04940541e-02,  4.67494755e-02,
        3.90189440e-03,  1.77401739e-02, -2.44520789e-03,  2.32995824e-03,
       -3.07430183e-02,  2.45342793e-02, -1.07785553e-02,  2.41096053e-02,
       -6.85746685e-03, -2.34945257e-02,  1.96477699e-02,  3.59121820e-03,
       -1.27219233e-02, -1.75093237e-02, -1.55164033e-02, -6.02407951e-03,
        1.01564314e-01, -1.36881040e-02, -3.48011366e-03, -1.20369969e-02,
        2.32286480e-02, -1.64604616e-03,  5.38086510e-04,  6.36538217e-03,
       -3.37412804e-03,  5.17154058e-02, -1.77283550e-02, -9.13759136e-03,
       -7.03553700e-03, -1.25520927e-02, -8.52842409e-03,  7.17811545e-02,
       -1.88614146e-02,  6.83039620e-02,  4.79455435e-02, -7.03465740e-03,
       -1.17749332e-02,  2.50542120e-06, -1.97075976e-02,  3.36483008e-02,
        9.98542628e-03,  5.69993461e-02,  1.22814165e-02, -9.58831055e-03,
       -6.79579266e-03,  4.44652408e-03, -2.10408095e-02, -7.36361675e-03,
       -1.54759286e-02,  1.27067180e-02,  8.94441177e-03, -1.30216492e-02,
        7.43584099e-02, -1.08659255e-02,  5.61592111e-04, -3.22766256e-03,
       -1.04137511e-02, -6.93597323e-03,  3.07379795e-04,  2.10381169e-04,
       -4.72176084e-03, -4.43596297e-03,  1.56626544e-02, -1.50807817e-03,
       -9.89277492e-03,  5.28745287e-03, -2.20707827e-04,  1.50510193e-02,
        3.02924345e-02,  2.51321297e-02,  5.00169859e-03, -1.16127998e-03,
        1.40999364e-02,  1.12321671e-02,  3.57704762e-02,  7.87209171e-02,
        5.87646724e-03,  7.87172050e-03, -1.26331634e-02, -1.59059869e-02,
        2.02469605e-03,  1.08688776e-02,  2.72095686e-02,  7.71564200e-03,
       -7.84525934e-04,  2.55882791e-03, -2.29396433e-02, -6.84323606e-03,
       -1.32691635e-02, -1.30297662e-02, -3.98370862e-02, -3.19776146e-02,
        1.40659681e-01,  6.99903759e-02,  2.58353142e-02,  1.22885842e-02,
       -2.42746743e-02, -4.13159070e-03, -1.70786523e-02,  9.74750991e-03,
        2.84431962e-02, -6.83217475e-03,  2.38919102e-03,  3.00341444e-02,
        2.05487516e-02,  2.96369174e-02,  3.96789486e-02,  1.15772133e-02,
        1.13051874e-04,  3.12091123e-02,  1.07532821e-03,  2.31375214e-02,
        2.06922210e-02, -3.76912203e-03,  9.37659912e-02,  7.17905368e-03,
       -7.50685276e-04, -1.94843976e-03, -2.40067566e-02, -2.84036517e-02,
       -4.47721336e-03,  6.01844082e-02, -6.90875664e-04, -3.39049709e-02,
        1.69018781e-03, -1.46305526e-02, -7.97721343e-03, -9.16848328e-03,
        3.05977797e-02,  3.74466105e-03,  5.33588632e-02, -2.09193786e-02,
       -2.64470520e-02, -9.48502864e-03, -2.86831522e-03,  6.53267084e-03,
        1.08508704e-01, -1.53726134e-02, -3.46972155e-02,  1.51512232e-02,
       -1.10310465e-02, -2.34109024e-02,  1.09791440e-02,  1.21522213e-02,
       -2.64282871e-02, -2.04398486e-02,  1.57860563e-01, -2.23616409e-02,
        9.36761996e-03,  2.66461076e-02,  4.87097147e-02,  4.16134401e-02,
       -1.42982895e-02, -7.26616022e-03, -1.24938779e-02, -9.80536454e-03,
       -1.20126770e-02,  3.71196442e-02,  3.79630005e-02, -2.57846581e-02,
       -4.20770991e-03, -1.52057588e-02,  1.00777078e-02, -7.33282114e-04,
       -1.46660980e-02,  9.55000761e-02, -1.33345384e-02, -1.04384656e-02,
       -1.33424848e-02, -2.86216234e-04,  1.12872284e-02,  1.81677354e-02,
        2.42335558e-03, -7.35292576e-03, -1.61600269e-02,  5.07777264e-02,
       -6.22364329e-03, -1.88102607e-02, -1.19759043e-02,  2.11399006e-02,
       -2.85697134e-03,  6.01746852e-03, -6.69702026e-04,  1.44106278e-02,
        6.04217786e-03,  2.27039256e-03, -1.39806272e-02, -9.21494740e-03,
        7.62997732e-02,  3.76708729e-02,  1.05098391e-03,  3.44369782e-03,
        5.62683854e-03, -1.02897676e-02, -1.81686414e-02, -4.90180853e-03,
        1.14356257e-02,  9.24427357e-02,  7.91500821e-04, -1.91410846e-03,
       -1.66877595e-02,  2.76601125e-02,  3.96098415e-04, -4.73912856e-03,
       -7.95819593e-03, -1.33221351e-02, -3.23600356e-02, -1.05978342e-02,
        1.74338936e-02,  4.55699841e-03, -2.50604026e-02,  3.12011577e-03,
       -2.57278807e-02,  1.16818961e-03, -4.99702041e-03,  1.17180499e-02,
        5.42430431e-02, -5.14131208e-03,  1.72993401e-03,  2.17231948e-02,
        3.61080276e-02,  6.05111967e-03,  4.91867993e-03, -1.28191375e-02,
       -2.45495769e-02,  3.60968864e-03,  3.85286329e-04,  7.62560726e-02,
       -8.66736717e-03,  2.66909633e-02,  6.43138716e-03, -1.78322700e-03,
        7.44024957e-03,  7.30026494e-03,  9.71446037e-03, -1.10550762e-02,
        1.27462174e-02, -1.50867402e-03, -6.62588787e-03, -4.82607957e-03,
       -1.73144973e-02, -1.87965391e-02,  1.72224731e-02,  4.75190792e-02,
        2.97354996e-03,  5.73762919e-02,  4.66621170e-02, -1.11761914e-02,
       -2.46634340e-03,  2.68498397e-02,  3.32671427e-02,  8.44332850e-02,
        3.97896329e-03, -1.50266942e-02,  1.01976919e-02, -7.57319909e-03,
       -1.18188843e-02, -6.43406983e-03, -1.62124555e-02,  9.24065048e-02,
       -1.02773402e-02,  1.28192218e-03,  2.81051098e-02, -1.38985766e-02,
       -1.66872580e-02,  2.79897755e-03, -2.39346423e-02,  8.59898024e-03,
       -2.12898856e-02,  3.30509061e-02, -8.75669490e-04,  2.77066023e-02,
        9.71664838e-03,  1.85013046e-02, -1.65288899e-02,  6.50767150e-03,
        8.58105962e-03,  1.61426651e-02,  1.82259667e-03,  1.44642871e-02,
        2.04347810e-02,  3.20929341e-02, -9.41053370e-03,  1.56888385e-01,
        9.40888793e-03,  8.43678109e-04,  1.59441678e-02, -1.66711366e-02,
        3.29263886e-02, -3.63457039e-03,  1.14393431e-02,  1.04447174e-02,
        1.99061386e-03,  1.59814477e-02,  2.67091097e-03, -1.62428249e-02,
       -2.23245883e-02,  2.19107049e-01, -8.34463563e-03,  3.03757586e-02,
       -5.91762320e-03, -1.35339474e-02,  5.29177347e-02,  5.26430022e-02,
       -3.38056348e-02,  8.57589322e-03, -2.17157151e-03, -7.10325705e-03,
       -1.01651220e-02,  3.58545021e-03, -7.57862309e-03, -3.06537229e-02,
        1.55745397e-02,  2.08760510e-02,  1.41041156e-02, -3.33272530e-02,
        3.63016118e-02,  4.93756614e-03, -1.81645120e-02, -8.92943325e-03,
        7.05143239e-03, -7.88932068e-03,  3.40339417e-02, -1.58772488e-02,
       -9.94397381e-04, -1.21865132e-03,  3.93540885e-03,  3.54917015e-04,
       -1.02102995e-02, -1.18558068e-02, -9.19912022e-03,  1.10532298e-01,
       -6.47853350e-02,  1.22540396e-02, -5.81736813e-03, -5.85264594e-03,
        7.08564648e-02,  6.50935079e-04, -1.19195163e-03,  2.88959310e-02,
        4.84404522e-03, -1.56093209e-02,  1.09353439e-02,  2.18528620e-03,
        2.44329569e-02,  1.64270857e-02, -7.59260815e-03, -2.41149083e-02,
       -3.21241154e-02,  1.76942662e-03,  9.72946326e-02, -1.25833762e-02,
       -1.03743620e-02, -1.62948377e-04, -1.67367717e-02,  3.68918426e-02,
        1.62456453e-03,  1.62558358e-02,  1.89845868e-02,  3.06202678e-02,
        1.90972021e-02,  1.22080172e-01,  4.24428272e-02,  1.17193969e-03,
       -4.46511891e-04,  3.23599278e-02, -1.30401490e-02,  1.69168352e-02,
        1.02619530e-02, -3.27312091e-03, -8.45908151e-04, -2.26755759e-03,
       -2.99483834e-02,  1.80142284e-02,  4.00819802e-03, -9.06411501e-04,
       -1.34386370e-02,  1.88888766e-03,  2.12860839e-02,  1.40790032e-02,
       -6.75624134e-03,  4.78515641e-02, -1.39395458e-02,  8.73941224e-04,
       -1.38586169e-02,  3.03441286e-02, -3.28341209e-02,  5.72823858e-02,
        5.34514471e-02,  1.01423755e-03, -6.30706785e-03,  1.19408616e-02,
        3.18487624e-02,  1.06195640e-02, -7.93374524e-04,  5.38417674e-04,
        1.58632188e-02,  2.34441473e-03, -3.16673478e-02,  5.84651411e-03,
        4.78986607e-03,  8.36806098e-03, -4.33091524e-02, -2.78623105e-02,
       -1.12838495e-02, -1.81923175e-02, -3.52836667e-03, -6.45217913e-02,
       -7.90670373e-03,  1.69467983e-02, -2.37744574e-02, -2.58360382e-02,
       -1.49620528e-02, -2.48808564e-02,  3.15622289e-02, -1.90519475e-02,
        1.68479351e-02, -2.29779097e-02, -7.82380858e-03,  8.67756042e-03,
       -1.78697687e-02, -9.06680766e-03,  5.28629376e-03,  1.34961690e-03,
       -5.49668456e-02])

In [37]:
predictions = pd.DataFrame(predictions, columns=["predictions"], index=test.index)

In [38]:
predictions

       predictions
648       0.013638
649      -0.027154
650      -0.005272
651       0.016934
652      -0.003576
...            ...
12508    -0.017870
12509    -0.009067
12510     0.005286
12511     0.001350
12512    -0.054967

[605 rows x 1 columns]

In [39]:
combination = pd.concat([test[["Player", "Share"]], predictions], axis=1)

In [40]:
combination

                Player  Share  predictions
648       Aaron Gordon    0.0     0.013638
649      Austin Rivers    0.0    -0.027154
650            Bol Bol    0.0    -0.005272
651       Bones Hyland    0.0     0.016934
652        Bryn Forbes    0.0    -0.003576
...                ...    ...          ...
12508     Micah Potter    0.0    -0.017870
12509  Rodney McGruder    0.0    -0.009067
12510        Saben Lee    0.0     0.005286
12511       Saddiq Bey    0.0     0.001350
12512   Trayvon Palmer    0.0    -0.054967

[605 rows x 3 columns]

In [41]:
combination.sort_values("Share", ascending=False).head(20)

                      Player  Share  predictions
663             Nikola Jokić  0.875     0.189411
837              Joel Embiid  0.706     0.191151
11678  Giannis Antetokounmpo  0.595     0.219107
907             Devin Booker  0.216     0.092999
11469            Luka Dončić  0.146     0.156888
1179            Jayson Tatum  0.043     0.095388
12226              Ja Morant  0.010     0.122080
6398           Stephen Curry  0.004     0.093766
905               Chris Paul  0.002     0.080390
8241            LeBron James  0.001     0.157861
3938           DeMar DeRozan  0.001     0.101564
6185            Kevin Durant  0.001     0.140660
9752              OG Anunoby  0.000     0.000385
9749       Justin Champagnie  0.000    -0.012819
9750              Khem Birch  0.000    -0.024550
9751           Malachi Flynn  0.000     0.003610
9775        Arnoldas Kulboka  0.000     0.009714
9756          Scottie Barnes  0.000     0.006431
9759           Yuta Watanabe  0.000     0.007300
9754        Precious Achiuwa  0.000    -0.008667

## Identifying an error metric

In [42]:
from sklearn.metrics import mean_squared_error

In [43]:
mean_squared_error(combination["Share"],combination["predictions"])

0.0022474562763311876

In [44]:
combination["Share"].value_counts()

0.000    593
0.001      3
0.146      1
0.043      1
0.002      1
0.216      1
0.004      1
0.010      1
0.595      1
0.706      1
0.875      1
Name: Share, dtype: int64

In [47]:
combination = combination.sort_values("Share",ascending=False)
combination["Rk"] = list(range(1,combination.shape[0]+1))

In [48]:
combination

                      Player  Share  predictions   Rk
663             Nikola Jokić  0.875     0.189411    1
837              Joel Embiid  0.706     0.191151    2
11678  Giannis Antetokounmpo  0.595     0.219107    3
907             Devin Booker  0.216     0.092999    4
11469            Luka Dončić  0.146     0.156888    5
...                      ...    ...          ...  ...
12507      Marvin Bagley III  0.000     0.008678  601
12508           Micah Potter  0.000    -0.017870  602
12509        Rodney McGruder  0.000    -0.009067  603
12510              Saben Lee  0.000     0.005286  604
12512         Trayvon Palmer  0.000    -0.054967  605

[605 rows x 4 columns]

In [49]:
combination = combination.sort_values("predictions",ascending=False)
combination["Predicted_Rk"] = list(range(1,combination.shape[0]+1))

In [51]:
combination.head(10)

                      Player  Share  predictions   Rk  Predicted_Rk
11678  Giannis Antetokounmpo  0.595     0.219107    3             1
837              Joel Embiid  0.706     0.191151    2             2
663             Nikola Jokić  0.875     0.189411    1             3
8241            LeBron James  0.001     0.157861   12             4
11469            Luka Dončić  0.146     0.156888    5             5
6185            Kevin Durant  0.001     0.140660   10             6
12226              Ja Morant  0.010     0.122080    7             7
11820             Trae Young  0.000     0.110532  514             8
8231           Anthony Davis  0.000     0.108509  318             9
836             James Harden  0.000     0.103964   41            10

In [59]:
combination.sort_values("Share",ascending=False).head(10)

                      Player  Share  predictions  Rk  Predicted_Rk
663             Nikola Jokić  0.875     0.189411   1             3
837              Joel Embiid  0.706     0.191151   2             2
11678  Giannis Antetokounmpo  0.595     0.219107   3             1
907             Devin Booker  0.216     0.092999   4            16
11469            Luka Dončić  0.146     0.156888   5             5
1179            Jayson Tatum  0.043     0.095388   6            14
12226              Ja Morant  0.010     0.122080   7             7
6398           Stephen Curry  0.004     0.093766   8            15
905               Chris Paul  0.002     0.080390   9            21
3938           DeMar DeRozan  0.001     0.101564  11            11

In [67]:
def find_ap(combination):
    actual = combination.sort_values("Share",ascending=False).head(5)
    predicted = combination.sort_values("predictions",ascending=False)
    ps = []
    found = 0
    seen = 1
    
    for index,row in predicted.iterrows():
        if row["Player"] in actual["Player"].values:
            found += 1
            ps.append(found/seen)
        seen += 1

    return ps

In [68]:
find_ap(combination)

[1.0, 1.0, 1.0, 0.8, 0.3125]

In [69]:
def find_ap(combination):
    actual = combination.sort_values("Share",ascending=False).head(5)
    predicted = combination.sort_values("predictions",ascending=False)
    ps = []
    found = 0
    seen = 1
    
    for index,row in predicted.iterrows():
        if row["Player"] in actual["Player"].values:
            found += 1
            ps.append(found/seen)
        seen += 1

    return sum(ps)/len(ps)

In [70]:
find_ap(combination)

0.8225

## Implementating backtesting to predict each year

In [83]:
years = list(range(1991,2023))

In [84]:
aps = []
all_predictions = []
for year in years[5:]:
    train = stats[stats["Year"] < year]
    test = stats[stats["Year"] == year]
    reg.fit(train[predictors],train["Share"])
    predictions = reg.predict(test[predictors])
    predictions = pd.DataFrame(predictions, columns=["predictions"], index=test.index)
    combination = pd.concat([test[["Player", "Share"]], predictions], axis=1)
    all_predictions.append(combination)
    aps.append(find_ap(combination))

In [85]:
sum(aps)/len(aps)

0.715194005962712

In [86]:
def add_ranks(combination):
    combination = combination.sort_values("Share",ascending=False)
    combination["Rk"] = list(range(1,combination.shape[0]+1))
    combination = combination.sort_values("predictions",ascending=False)
    combination["Predicted_Rk"] = list(range(1,combination.shape[0]+1))
    combination["Diff"] = (combination["Rk"] - combination["Predicted_Rk"])
    return combination

In [87]:
add_ranks(all_predictions[1])

                 Player  Share  predictions   Rk  Predicted_Rk  Diff
13154  Shaquille O'Neal  0.006     0.198218   10             1     9
1710        Karl Malone  0.857     0.192360    1             2    -1
10976    Michael Jordan  0.832     0.167672    2             3    -1
12591   Hakeem Olajuwon  0.083     0.136398    7             4     3
10274    David Robinson  0.000     0.131097   36             5    31
...                 ...    ...          ...  ...           ...   ...
13748     Eric Montross  0.000    -0.043778  164           437  -273
5171     Pervis Ellison  0.000    -0.046987  423           438   -15
10841      Popeye Jones  0.000    -0.048873  199           439  -240
10970     Dennis Rodman  0.000    -0.054581  191           440  -249
7087      Melvin Booker  0.000    -0.055141  341           441  -100

[441 rows x 6 columns]

In [88]:
add_ranks(all_predictions[1]).sort_values("Diff",ascending=False)

                  Player  Share  predictions   Rk  Predicted_Rk  Diff
4910           Matt Fish    0.0     0.038290  440            46   394
4899         Bruce Bowen    0.0     0.077562  398            13   385
3775     Rasheed Wallace    0.0     0.049934  414            29   385
5370   Anfernee Hardaway    0.0     0.058426  391            22   369
4905         James Scott    0.0     0.040938  392            42   350
...                  ...    ...          ...  ...           ...   ...
10281       Sean Elliott    0.0    -0.019071   23           374  -351
85            A.C. Green    0.0    -0.024904   38           395  -357
10835       Hubert Davis    0.0    -0.026872   43           403  -360
9928    Lorenzo Williams    0.0    -0.036781   64           428  -364
10279       Joe Courtney    0.0    -0.026307   30           400  -370

[441 rows x 6 columns]

In [89]:
ranking = add_ranks(all_predictions[1])
ranking[ranking["Rk"]<6].sort_values("Diff",ascending=False)

               Player  Share  predictions  Rk  Predicted_Rk  Diff
1710      Karl Malone  0.857     0.192360   1             2    -1
10976  Michael Jordan  0.832     0.167672   2             3    -1
970        Grant Hill  0.327     0.128664   3             6    -3
4912     Tim Hardaway  0.207     0.059992   4            20   -16
8642        Glen Rice  0.117     0.033122   5            53   -48

In [90]:
def backtest(stats, model, years, predictors):
    aps = []
    all_predictions = []
    for year in years:
        train = stats[stats["Year"] < year]
        test = stats[stats["Year"] == year]
        model.fit(train[predictors],train["Share"])
        predictions = model.predict(test[predictors])
        predictions = pd.DataFrame(predictions, columns=["predictions"], index=test.index)
        combination = pd.concat([test[["Player", "Share"]], predictions], axis=1)
        combination = add_ranks(combination)
        all_predictions.append(combination)
        aps.append(find_ap(combination))
    return sum(aps)/len(aps), aps, pd.concat(all_predictions)

In [91]:
mean_ap, aps, all_predictions = backtest(stats, reg, years[5:], predictors)

In [92]:
mean_ap

0.715194005962712

## Diagnosing model performance

In [93]:
all_predictions[all_predictions["Rk"] <= 5].sort_values("Diff").head(10)

                 Player  Share  predictions  Rk  Predicted_Rk  Diff
1334         Jason Kidd  0.712     0.027957   2            52   -50
8642          Glen Rice  0.117     0.033122   5            53   -48
5420         Steve Nash  0.839     0.032686   1            47   -46
8910    Peja Stojaković  0.228     0.035581   4            39   -35
5438         Steve Nash  0.739     0.051338   1            35   -34
13331       Joakim Noah  0.258     0.047390   4            37   -33
3849   Chauncey Billups  0.344     0.051437   5            34   -29
1499         Chris Paul  0.138     0.073983   5            33   -28
5453         Steve Nash  0.785     0.070791   2            23   -21
4912       Tim Hardaway  0.207     0.059992   4            20   -16

In [94]:
reg.coef_

array([ 3.32239005e-04,  9.77210915e-05,  5.33127153e-06, -4.08146984e-03,
        3.66383678e-03,  4.90043612e-03, -1.51275461e-01,  2.07793831e-03,
       -1.03800693e-02, -9.71408942e-03,  1.54303271e-02, -1.63224726e-02,
        6.08153038e-03,  8.32333172e-02, -6.61251053e-03,  1.05390368e-02,
       -4.53444601e-03,  2.11632114e-02,  3.32210414e-02, -2.63605392e-02,
        7.09105921e-03,  1.24724224e-02,  1.08281413e-02, -8.90038517e-03,
       -2.34823071e-03,  7.10466977e-03,  1.62000468e-04, -3.25972748e-04,
        2.40111814e-02,  3.25036343e-04, -4.49374655e-04, -3.79731747e-04,
       -6.49265654e-04])

In [95]:
pd.concat([pd.Series(reg.coef_), pd.Series(predictors)], axis=1)

           0     1
0   0.000332   Age
1   0.000098     G
2   0.000005    GS
3  -0.004081    MP
4   0.003664    FG
5   0.004900   FGA
6  -0.151275   FG%
7   0.002078    3P
8  -0.010380   3PA
9  -0.009714   3P%
10  0.015430    2P
11 -0.016322   2PA
12  0.006082   2P%
13  0.083233  eFG%
14 -0.006613    FT
15  0.010539   FTA
16 -0.004534   FT%
17  0.021163   ORB
18  0.033221   DRB
19 -0.026361   TRB
20  0.007091   AST
21  0.012472   STL
22  0.010828   BLK
23 -0.008900   TOV
24 -0.002348    PF
25  0.007105   PTS
26  0.000162     W
27 -0.000326     L
28  0.024011  W/L%
29  0.000325    GB
30 -0.000449  PS/G
31 -0.000380  PA/G
32 -0.000649   SRS

In [98]:
pd.concat([pd.Series(reg.coef_), pd.Series(predictors)], axis=1).sort_values(0, ascending=False)

           0     1
13  0.083233  eFG%
18  0.033221   DRB
28  0.024011  W/L%
17  0.021163   ORB
10  0.015430    2P
21  0.012472   STL
22  0.010828   BLK
15  0.010539   FTA
25  0.007105   PTS
20  0.007091   AST
12  0.006082   2P%
5   0.004900   FGA
4   0.003664    FG
7   0.002078    3P
0   0.000332   Age
29  0.000325    GB
26  0.000162     W
1   0.000098     G
2   0.000005    GS
27 -0.000326     L
31 -0.000380  PA/G
30 -0.000449  PS/G
32 -0.000649   SRS
24 -0.002348    PF
3  -0.004081    MP
16 -0.004534   FT%
14 -0.006613    FT
23 -0.008900   TOV
9  -0.009714   3P%
8  -0.010380   3PA
11 -0.016322   2PA
19 -0.026361   TRB
6  -0.151275   FG%

## Adding more predictors

In [99]:
stat_ratios = stats[["PTS", "AST", "STL", "BLK", "3P", "Year"]].groupby("Year").apply(lambda x: x/x.mean())

In [100]:
stat_ratios

            PTS       AST       STL       BLK        3P  Year
0      1.013334  0.420714  0.961127  0.673469  0.508587   1.0
1      1.614653  1.028412  1.647646  0.673469  4.577279   1.0
2      0.311795  0.093492  0.274608  1.571429  0.000000   1.0
3      0.200440  0.186984  0.274608  0.000000  0.000000   1.0
4      2.383005  1.636110  1.784950  0.897959  1.525760   1.0
...         ...       ...       ...       ...       ...   ...
14692  0.735752  0.819562  0.479763  1.528302  0.650951   1.0
14693  0.071202  0.000000  0.000000  0.000000  0.130190   1.0
14694  1.281633  0.601012  1.119447  2.547170  0.520761   1.0
14695  0.474679  0.218550  0.319842  1.273585  0.650951   1.0
14696  1.008693  0.655649  1.119447  0.509434  2.343424   1.0

[14697 rows x 6 columns]

In [101]:
stats[["PTS_R", "AST_R", "STL_R", "BLK_R", "3P_R"]] = stat_ratios[["PTS", "AST", "STL", "BLK", "3P"]]

In [102]:
stats.head()

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,W/L%,GB,PS/G,PA/G,SRS,PTS_R,AST_R,STL_R,BLK_R,3P_R
0,A.C. Green,PF,27,LAL,82,21,26.4,3.1,6.6,0.476,...,0.707,5.0,106.3,99.6,6.73,1.013334,0.420714,0.961127,0.673469,0.508587
1,Byron Scott,SG,29,LAL,82,82,32.1,6.1,12.8,0.477,...,0.707,5.0,106.3,99.6,6.73,1.614653,1.028412,1.647646,0.673469,4.577279
2,Elden Campbell,PF,22,LAL,52,0,7.3,1.1,2.4,0.455,...,0.707,5.0,106.3,99.6,6.73,0.311795,0.093492,0.274608,1.571429,0.000000
3,Irving Thomas,PF,25,LAL,26,0,4.2,0.7,1.9,0.340,...,0.707,5.0,106.3,99.6,6.73,0.200440,0.186984,0.274608,0.000000,0.000000
4,James Worthy,SF,29,LAL,78,74,38.6,9.2,18.7,0.492,...,0.707,5.0,106.3,99.6,6.73,2.383005,1.636110,1.784950,0.897959,1.525760

In [103]:
predictors += ["PTS_R", "AST_R", "STL_R", "BLK_R", "3P_R"]

In [104]:
mean_ap, aps, all_predictions = backtest(stats, reg, years[5:], predictors)

In [105]:
mean_ap

0.7238998493531219

In [111]:
stats["Pos"].unique()

array(['PF', 'SG', 'SF', 'PG', 'C', 'PG-SG', 'PF-SF', 'SG-PG', 'PF-C',
       'SG-SF', 'SF-PF', 'SF-SG', 'C-PF', 'SG-PF', 'PG-SF', 'SG-PG-SF',
       'SF-C'], dtype=object)

In [112]:
stats["NPos"] = stats["Pos"].astype("category").cat.codes

In [113]:
stats.head()

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,PS/G,PA/G,SRS,PTS_R,AST_R,STL_R,BLK_R,3P_R,NPos,NTm
0,A.C. Green,PF,27,LAL,82,21,26.4,3.1,6.6,0.476,...,106.3,99.6,6.73,1.013334,0.420714,0.961127,0.673469,0.508587,2,15
1,Byron Scott,SG,29,LAL,82,82,32.1,6.1,12.8,0.477,...,106.3,99.6,6.73,1.614653,1.028412,1.647646,0.673469,4.577279,12,15
2,Elden Campbell,PF,22,LAL,52,0,7.3,1.1,2.4,0.455,...,106.3,99.6,6.73,0.311795,0.093492,0.274608,1.571429,0.000000,2,15
3,Irving Thomas,PF,25,LAL,26,0,4.2,0.7,1.9,0.340,...,106.3,99.6,6.73,0.200440,0.186984,0.274608,0.000000,0.000000,2,15
4,James Worthy,SF,29,LAL,78,74,38.6,9.2,18.7,0.492,...,106.3,99.6,6.73,2.383005,1.636110,1.784950,0.897959,1.525760,8,15

In [114]:
stats["Tm"].unique()

array(['LAL', 'PHO', 'DAL', 'MIA', 'CLE', 'WSB', 'CHI', 'GSW', 'IND',
       'WAS', 'MIN', 'BOS', 'HOU', 'DEN', 'ORL', 'NOH', 'TOR', 'SAC',
       'CHO', 'PHI', 'POR', 'DET', 'OKC', 'UTA', 'MIL', 'VAN', 'SEA',
       'NJN', 'NOK', 'LAC', 'ATL', 'CHA', 'MEM', 'NYK', 'NOP', 'BRK',
       'SAS', 'CHH'], dtype=object)

In [115]:
stats["NTm"] = stats["Tm"].astype("category").cat.codes

In [116]:
stats.head()

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,PS/G,PA/G,SRS,PTS_R,AST_R,STL_R,BLK_R,3P_R,NPos,NTm
0,A.C. Green,PF,27,LAL,82,21,26.4,3.1,6.6,0.476,...,106.3,99.6,6.73,1.013334,0.420714,0.961127,0.673469,0.508587,2,15
1,Byron Scott,SG,29,LAL,82,82,32.1,6.1,12.8,0.477,...,106.3,99.6,6.73,1.614653,1.028412,1.647646,0.673469,4.577279,12,15
2,Elden Campbell,PF,22,LAL,52,0,7.3,1.1,2.4,0.455,...,106.3,99.6,6.73,0.311795,0.093492,0.274608,1.571429,0.000000,2,15
3,Irving Thomas,PF,25,LAL,26,0,4.2,0.7,1.9,0.340,...,106.3,99.6,6.73,0.200440,0.186984,0.274608,0.000000,0.000000,2,15
4,James Worthy,SF,29,LAL,78,74,38.6,9.2,18.7,0.492,...,106.3,99.6,6.73,2.383005,1.636110,1.784950,0.897959,1.525760,8,15

In [121]:
stats["NTm"].value_counts()

7     522
8     514
27    514
17    512
14    510
11    508
0     506
12    505
1     501
9     501
31    497
26    496
15    496
18    494
13    494
5     493
24    489
10    486
34    486
30    486
28    485
29    484
19    482
33    441
36    410
16    353
20    343
32    263
25    240
2     182
4     177
23    163
3     157
21    143
6     130
37    114
35     88
22     32
Name: NTm, dtype: int64

## Using Random Forest

In [122]:
from sklearn.ensemble import RandomForestRegressor

In [124]:
rf = RandomForestRegressor(n_estimators=50, random_state=1, min_samples_split=5)

In [125]:
mean_ap, aps, all_predictions = backtest(stats, rf, years[29:], predictors)

In [126]:
mean_ap

0.888989898989899

In [127]:
mean_ap, aps, all_predictions = backtest(stats, reg, years[29:], predictors)

In [128]:
mean_ap

0.8779642579642579